.botTitle {
    border: 3px solid red;
    background-color: greenyellow;
    height: 85px;
}

.inputHolder {
    justify-content: center;
    align-items: center;
}

.input {
    position: absolute;
    left: 500px;
    top: 650px;
    width: 700px;
    height: 20px;
    text-align: left;
}

.chatbot {
    background-color: greenyellow;
}

.logo {
    position: absolute;
    top: 300px;
}

.Symbol {
    position: absolute;
    top: 652px;
    left: 1184px;
}