.communityTitle {
    /* background-color: aqua; */
    /* border: 3px solid red; */
    /* height: 85px; */
    background-color: #61dafb;
    border: 3px solid #333;
    height: 85px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communities {
    display: flex;
    display: inline-grid;
    position: absolute;
    left: 300px;
    justify-content: space-around;
    padding: 20px;
}

.com {
    display: flex;
    margin: 50px 150px;
    padding: 70px;
    border-radius: 50px;
    position: relative;
    bottom: 120px;
    width: 70px;
    justify-content: center;
    border: 2px solid #333;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* width: 150px; */
    text-align: center;
    background-color: #bfbebe;
    transition: transform 0.3s ease;
}

.com1 {
    display: flex;
    /* border: 2px solid black; */
    position: relative;
    top: 100px;
}

.com2 {
    display: flex;
    /* border: 2px solid black; */
    margin: 4px;
    position: relative;
    top: 10px;
}

.com3 {
    display: flex;
    /* border: 2px solid black; */
    margin: 4px;
    position: relative;
    bottom: 80px;
}

.community {
    background-color: #fff;
}

.com:hover {
    transform: scale(1.05);
}

.CalTitle {
    /* background-color: greenyellow; */
    /* border: 3px solid red; */
    /* height: 85px; */
    background-color: #61dafb;
    border: 3px solid #333;
    height: 85px;
    color: #fff;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}