.rbc-calendar {
    display: flex;
    position: absolute;
    left: 200px;
    width: 1000px;
    top: 60px;
}

.EventAdder {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1260px;
    top: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    background-color: #61dafb;
}

.EventTitle {
    height: 20px;
    width: 170px;
    margin-left: 23px
}


.Start {
    padding: 5px;
    margin: 25px;

}

.End {
    padding: 5px;
    margin: 25px;
}

.AddEvent {
    padding: 5px;
    margin: 25px;
}

.toggleEvent {
    position: absolute;
    left: 1450px;
    top: 610px;

}

.add {
    width: 50px;
    height: 50px;
}

.timeSet {
    position: absolute;
    left: 1300px;
}

.custom-calendar-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./cal_background3.jpg');
    /* Adjust the path accordingly */
    background-size: cover;
    /* or 'contain' based on your preference */
    opacity: 1;
    /* Adjust the opacity if needed */
    z-index: -1;
    /* Place the background behind other content */
}